.google-loader {
    display: block;
}

    .google-loader span {
        display: inline-block;
        margin-top: 10px;
        height: 10px;
        width: 10px;
        border-radius: 50%;
    }

        .google-loader span:not(:first-child) {
            margin-left: 5px;
        }

        .google-loader span:nth-child(1) {
            background: #000;
            animation: move 1s ease-in-out -0.25s infinite alternate;
        }

        .google-loader span:nth-child(2) {
            background: #727070;
            animation: move 1s ease-in-out -0.5s infinite alternate;
        }

        .google-loader span:nth-child(3) {
            background: #c1c1c1;
            animation: move 1s ease-in-out -0.75s infinite alternate;
        }

        .google-loader span:nth-child(4) {
            background: #efefef;
            animation: move 1s ease-in-out -1s infinite alternate;
        }

@keyframes move {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(5px);
    }
}

.loading {
    height : 134px;
    z-index: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}