

    <div style="columns: 3;" id="columns">
        {% for t in all_obd_cols %}
        <input name='columns[]' type='checkbox' value="{{t}}"> {{t.replace("_"," ")}} <br>
        {% endfor %}

    </div>

<div class="mt-2" style="float:right">
    <button class="btn btn-primary">Save model</button>
</div>
