{% extends "nav.html" %}

{% block body %}
<link rel="stylesheet" href="/static/css/car_loading.css">
<link rel="stylesheet" href="/static/css/lib/chosen/chosen.min.css">

<style>

    li {
        list-style: none;
    }

        li span {
            width: 25px;
            height: 17px;
            margin-right: 2px;
            margin-bottom: 0px;
        }

    .chosen-container{
        padding-left:5px;
    }
    .standardSelect{
        display:none;
    }

    span[class*='tooltiptext'] {
        visibility: hidden;
        width: 70vh;
        background-color: black;
        color: #fff;
        border-radius: 6px;
        padding: 20px;
        position: absolute;
        z-index: 1;
        top: -5px;
        left: 110%;
    }

        span[class*='tooltiptext']::after {
            content: "";
            position: absolute;
            top: 5%;
            right: 100%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent black transparent transparent;
        }

        span[class*='tooltiptext'] { visibility: visible; }
</style>
<div class="content mt-3">
    <div class="animated fadeIn" id="main_div">

        <div id="alert">

        </div>


        <div class="card">

            <div class="card-header" onclick="toggleCard(this)">
                <strong class="card-title mb-1">Pre-Trained Model</strong>
                <span class="fa fa-info-circle mt-1"></span>
                <span class="ti-arrow-circle-down mt-1" style="float:right"></span>
            </div>

            <div class="card-body">
                <div class="loading" id="pre_loading">

                    <div class="loader">
                        <svg class="car" width="102" height="40" xmlns="http://www.w3.org/2000/svg">
                            <g transform="translate(2 1)" stroke="#002742" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                                <path class="car__body" d="M47.293 2.375C52.927.792 54.017.805 54.017.805c2.613-.445 6.838-.337 9.42.237l8.381 1.863c2.59.576 6.164 2.606 7.98 4.531l6.348 6.732 6.245 1.877c3.098.508 5.609 3.431 5.609 6.507v4.206c0 .29-2.536 4.189-5.687 4.189H36.808c-2.655 0-4.34-2.1-3.688-4.67 0 0 3.71-19.944 14.173-23.902zM36.5 15.5h54.01" stroke-width="3" />
                                <ellipse class="car__wheel--left" stroke-width="3.2" fill="#FFF" cx="83.493" cy="30.25" rx="6.922" ry="6.808" />
                                <ellipse class="car__wheel--right" stroke-width="3.2" fill="#FFF" cx="46.511" cy="30.25" rx="6.922" ry="6.808" />
                                <path class="car__line car__line--top" d="M22.5 16.5H2.475" stroke-width="3" />
                                <path class="car__line car__line--middle" d="M20.5 23.5H.4755" stroke-width="3" />
                                <path class="car__line car__line--bottom" d="M25.5 9.5h-19" stroke-width="3" />
                            </g>
                        </svg>
                    </div>


                </div>
                <div class="col-lg-8">
                    <div id="pre_container"></div>
                </div>
                <div class="col-lg-4">
                    <div class="row mb-5">
                        Time vs 
                        <select class="standardSelect" tabindex="-1">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="pre_pieChart"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="pre_legends"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
{%endblock%}
{%block incluses%}
<script src="/static/js/lib/Highcharts/code/highcharts.js"></script>
<script src="/static/js/lib/Highcharts/code/modules/boost.js"></script>
<script src="/static/js/utils.js"></script>
<script src="/static/js/lib/chosen/chosen.jquery.min.js"></script>


<script>


    (function ($) {
        
        ColorSelection = [
            "#95ceff",
            "#ffbc75",
            "#434348",
            "#ff5050",
        ]

        labelsList = [
            "Smooth Driving",
            "Normal Driving",
            "Rash Driving",
            "Good Driving"
        ]

        urlAux = window.location.href.split('/');
        len = urlAux.length
        window.sensor_id = urlAux[len - 1]
        window.device_id = urlAux[len - 2]
        window.columns_list = {}
        window.getDataLen = 10000
        window.n = {}
        window.data_all = []
        window.freq = {}
        window.prediction_all = {}


        function loading(name,status) {
            loader_id = "#" + name + "_loading"
            if (status === true) {
                $(loader_id).css("display", "block")
                $(loader_id).siblings().css("display", "none")
            }
            else {
                $(loader_id).css("display", "none")
                $(loader_id).siblings().css("display", "block")
            }
        }
        
        function readTextFile(file) {
            $.ajax({
                url: "/static/fields_all.txt",
                success: function (d) {
                    d.split(",").sort().forEach(function (val) {
                        if (val == "Engine_speed")
                            $(".standardSelect").append("<option selected value='" + val + "' >" + val.replace(/_/g, " ") + "</option>")
                        else
                            $(".standardSelect").append("<option value='" + val + "' >" + val.replace(/_/g, " ") + "</option>")
                    })
                }
            })
            $('.standardSelect').trigger("chosen:updated");

        }

        function y_axis_selection() {
        
            $('.standardSelect').change(function (e) {

               Chart_id = $(this).closest(".card-body").find("[id$=_container]").attr("id")
                
                Chart_name = Chart_id.split("_")
                Chart_name.pop()
                Chart_name = Chart_name.join("_")

                loading(Chart_name, true)

                p = to_data_list(Chart_name, "timestamp", $(this).val())

                chart = $('#' + Chart_id).highcharts();
                
                p.forEach(function (v, i) {
                    chart.series[i].setData([])
                    chart.series[i].setData(v["data"],false)
                })

                chart.redraw();
                chart.yAxis[0].setTitle({ text: $(this).val().replace("_"," ") });
                chart = null

                loading(Chart_name, false)


            });

        }

        loading("pre", true)

        predict_model = function (trained_model, pretrained = "false") {

            if (pretrained === "false") {
                trained_models.forEach(function (name) {

                    var formData = {
                        'sensor_id': window.sensor_id,
                        'device_id': window.device_id,
                        'len': window.getDataLen,
                        'name': name,
                        "columns[]": window.columns_list[name]
                    }

                    AJAXcreateCharts(name, formData)

                })
            }
            else {
                var formData = {
                    'sensor_id': window.sensor_id,
                    'device_id': window.device_id,
                    'len': window.getDataLen,
                    'pretrained': "true",
                }

                AJAXcreateCharts("pre", formData)

            }

        }

        predict_model([], "true")

        var formData = {
            'sensor_id': window.sensor_id,
            'device_id': window.device_id,
        }

        $.ajax({
            url: "/ml/get_models",
            type: "get",
            data: formData,
            success: function (d) {
                if (d["status"] == 200) {
                    //console.log(d)
                    if (d["count"] < 1) {
                        $("#main_div").append("Please save a model for this sensor to go forward!! <a href = '/devicedata/" + window.device_id + "/" + window.sensor_id + "'> Click here! </a>")
                    }

                    trained_models = create_cards(d)
                    predict_model(trained_models)
                }
                else {
                    console.log(d)
                }


            }
        })

        function search(key, arr) {

            console.log(parseInt(key))
            res = -1

            arr.forEach(function (elem, i) {
                //console.log(parseInt(elem[1]))
                if (parseInt(elem[1]) == parseInt(key)) {
                    console.log("yas")
                    res = 1
                }
            })
            return res
        }

        function AJAXcreateCharts(name, formData, y_axis ="Engine_speed") {

            $.ajax({
                url: "/ml/predict",
                type: "get",
                data: formData,
                success: function (d) {
                    if (d['status'] = 200) {

                        loading(name, false)
                        $("#" + name + "_legends").parent().css("margin-top", "25%")
                        $("#" + name + "_legends").parent().css("margin-left", "10%")

                        $(".standardSelect").chosen({
                            no_results_text: "Sorry, we do not record that column",
                            width:"70%"
                        });

                        readTextFile();
                        
                        data = d['data']
                        window.data_all = d['data']
                        window.prediction_all[name] = d['predictions']

                        p = to_data_list(name, "timestamp", y_axis)
                        highChartScatter(p, name, y_axis.replace(/_/g, " "))
                        
                        mk_dounut(name)

                    }

                },
                error: function (d) {
                    console.log("some error occured")
                }

            });

        }

        function mk_dounut(name) {

            pieData = []
            console.log(window.freq[name])

            $.each(window.freq[name], function (key, elem) {

                percent = parseInt(elem)/window.getDataLen

                pieData.push({
                    name: labelsList[key],
                    y: percent,
                    color: ColorSelection[key]
                })
            })

            id = name + "_pieChart"

            Highcharts.chart(id, {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie',
                    height: (9 / 10 * 100) + '%'
                },
                title: {
                    text: 'Drive analysis'
                },

                tooltip: {
                    pointFormat: '{series.data.y} <b>{point.percentage:.0f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false,
                        }
                    }
                },
                series: [{
                    colorByPoint: true,
                    data: pieData
                }]
            });
            
        }

        function highChartScatter(data, name, y_axis) {

            if (!Highcharts.Series.prototype.renderCanvas) {
                throw 'Module not loaded';
            }

            console.time('scatter');
            Highcharts.chart(name + "_container", {

                chart: {
                    zoomType: 'xy',
                    height: '100%',
                    events: {
                        load: function () {
                            var pie = $("#" + name + "_pieChart").highcharts();

                            var chart = this;

                            $(chart.series).each(function (i, serie) {

                                $('<li> <span class="float-left mt-1" style=" background-color: ' + serie.color + '"></span>' + serie.name + '</li>').click(function () {
                                    $(chart.series).each(function (i, s) {
                                        if (s.name != serie.name) {
                                            s.hide()
                                        }
                                        else {
                                            s.show()
                                        }
                                    });

                                }).appendTo('#' + name + '_legends');
                            });
                            $('<li><a>All</a></li>').click(function () {
                                $(chart.series).each(function (i, s) {
                                    s.show()

                                });
                            }).appendTo('#' + name + '_legends');
                        }
                    }
                },
                boost: {
                    useGPUTranslations: true,
                    usePreAllocated: true
                },

                xAxis: {
                    min: 0,
                    max: 10000,
                    title: {
                        text: "Time"
                    },
                    gridLineWidth: 1
                },

                yAxis: {
                    min: 0,
                    //max: 6000,
                    //tickInterval: 1000,
                    minPadding: 0,
                    maxPadding: 0,
                    title: {
                        text: y_axis
                    }
                },

                title: {
                    text: ''
                },

                legend: {
                    enabled: false
                },
                plotOptions: {
                    scatter: {
                        turboThreshold: 200000
                    }
                },
                series: data

            });
            console.timeEnd('scatter');

        }

        function to_data_list(name, x, y) {

            data = window.data_all
            predictions = window.prediction_all[name]

            //console.log(predictions)

            arr = []
            Clusters_data = {}
            data_forChart = []
            t = 0
            data.forEach(function (element, i) {
                y_co = parseInt(element[y])
                x_co = t //element[y]

                if (predictions[i] in Clusters_data) {
                    Clusters_data[predictions[i]].push([x_co, y_co])
                }
                else {
                    Clusters_data[predictions[i]] = [[x_co, y_co]]
                }
                arr.push([x_co, y_co])
                t += 1
            })

            //console.log(Clusters_data)

            window.freq[name] = {}

            Object.keys(Clusters_data).forEach(function (key) {

                if (search(6072, Clusters_data[key]) != -1) {
                    i = 2
                }else if (search(663, Clusters_data[key]) != -1) {
                    i = 0
                }else if (search(988, Clusters_data[key]) != -1) {
                    i = 3
                }else {
                    i = 1
                }
                window.freq[name][i] = Clusters_data[key].length
            
                data_forChart.push({
                    type: 'scatter',
                    color: ColorSelection[parseInt(i)],
                    data: Clusters_data[key],
                    marker: {
                        radius: 1
                    },
                    name: labelsList[parseInt(i)],
                    tooltip: {
                        followPointer: false,
                        pointFormat: '{point.x:.0f}, {point.y:.0f}'
                    }
                })

            });

           // console.log(data_forChart)
            return data_forChart
        }

        window.toggleCard = function (head) {
            $(head).children().last().toggleClass("ti-arrow-circle-down")
            $(head).next().slideToggle();
        }

        window.train_model = function (name) {

            //console.log(window.columns_list)

            var formData = {
                'sensor_id': window.sensor_id,
                'device_id': window.device_id,
                'length': 10000,
                'name': name,
                'n': window.n[name],
                "columns[]": window.columns_list[name]
            }


            $.ajax({
                url: "/ml/clustering",
                type: "post",
                data: formData,
                success: function (d) {
                    if (d['status'] = 200) {
                        view_alert("trained Model successfully")
                        location.reload(true);
                    }
                },
                error: function (d) {
                    console.log("some error occured")
                }
            });

        }

        function create_cards(model) {
            var str = ''
            trained_models = []

            for (var i = 0; i < parseInt(model["count"]); i++) {

                name = model["models"][i]["name"]
                trained = model["models"][i]["trained"]
                window.columns_list[name] = model["models"][i]["cols"] //will save ith model's column in the global columns_list
                window.n[name] = model["models"][i]["n"]

                str = `<div class="card">


                            <div class="card-header" onclick="toggleCard(this)">
                                <strong class="card-title mb-1" id="username"> ` + name + `</strong>
                                <span class="fa fa-info-circle mt-1"></span>
                                <span class="ti-arrow-circle-down mt-1" style="float:right"></span>

                            </div>

                            <div class="card-body">`
                if (trained == "false") {
                    str += `<button type="button" class = "btn btn-success btn-sm" onclick = "train_model('` + name + `')">Train Model</button>`

                }
                else {
                    trained_models.push(name)
                    str += `<div class="loading" id="` + name + `_loading">

                    <div class="loader">
                        <svg class="car" width="102" height="40" xmlns="http://www.w3.org/2000/svg">
                            <g transform="translate(2 1)" stroke="#002742" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                                <path class="car__body" d="M47.293 2.375C52.927.792 54.017.805 54.017.805c2.613-.445 6.838-.337 9.42.237l8.381 1.863c2.59.576 6.164 2.606 7.98 4.531l6.348 6.732 6.245 1.877c3.098.508 5.609 3.431 5.609 6.507v4.206c0 .29-2.536 4.189-5.687 4.189H36.808c-2.655 0-4.34-2.1-3.688-4.67 0 0 3.71-19.944 14.173-23.902zM36.5 15.5h54.01" stroke-width="3"/>
                                <ellipse class="car__wheel--left" stroke-width="3.2" fill="#FFF" cx="83.493" cy="30.25" rx="6.922" ry="6.808"/>
                                <ellipse class="car__wheel--right" stroke-width="3.2" fill="#FFF" cx="46.511" cy="30.25" rx="6.922" ry="6.808"/>
                                <path class="car__line car__line--top" d="M22.5 16.5H2.475" stroke-width="3"/>
                                <path class="car__line car__line--middle" d="M20.5 23.5H.4755" stroke-width="3"/>
                                <path class="car__line car__line--bottom" d="M25.5 9.5h-19" stroke-width="3"/>
                            </g>
                        </svg>
                    </div>



                            </div>

                                <div class="col-lg-8">
                                    <div id="` + name + `_container"></div>
                                </div>
                                <div class="col-lg-4">

                                <div class="row mb-5">
                                    Time vs 
                                    <select class="standardSelect ml-4" tabindex="-1">
                                        <option value=""></option>
                                    </select>
                                </div>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div id="` + name + `_pieChart"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div id="` + name + `_legends"></div>
                                        </div>
                                    </div>
                                </div>`


                }
                str += `</div>
                      </div>`
                $("#main_div").append(str)

                loading(name, true)

            }



            y_axis_selection()

            return trained_models

        }


    })(jQuery)

</script>
{%endblock%}