
    {% block form %}

    <style>
                .switch {
                  position: relative;
                  display: inline-block;
                  width: 51px;
                  height: 25px;
                }
                
                .switch input {display:none;}
                
                .slider {
                  position: absolute;
                  cursor: pointer;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  background-color: #ccc;
                  -webkit-transition: .4s;
                  transition: .4s;
                }
                
                .slider:before {
                  position: absolute;
                  content: "";
                  height: 17px;
                  width: 17px;
                  left: 4px;
                  bottom: 4px;
                  background-color: white;
                  -webkit-transition: .4s;
                  transition: .4s;
                }
                
                input:checked + .slider {
                  background-color: #2196F3;
                }
                
                input:focus + .slider {
                  box-shadow: 0 0 1px #2196F3;
                }
                
                input:checked + .slider:before {
                  -webkit-transform: translateX(26px);
                  -ms-transform: translateX(26px);
                  transform: translateX(26px);
                }
                
                /* Rounded sliders */
                .slider.round {
                  border-radius: 34px;
                }
                
                .slider.round:before {
                  border-radius: 50%;
                }
        </style>

        <div class="col-lg-12">
            
                    <form action="" method="post" class="form-horizontal" id="device-add">
                        <div class = "col-sm-6">
                            <div class="row form-group">
                                <div class="col col-sm-5"><label for="input-small" class=" form-control-label">Device Name</label></div>
                                <div class="col col-sm-6"><input type="text" id="device" name="device" placeholder="Device Name" class="input-sm form-control-sm form-control"></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-sm-5"><label for="input-small" class=" form-control-label">SSH user</label></div>
                                <div class="col col-sm-6"><input type="text" id="sshuser" name="sshuser" placeholder="SSH user" class="input-sm form-control-sm form-control"></div>
                            </div>
                            <div class="row form-group">
                                    <div class="col col-sm-5"><label for="input-small" class=" form-control-label">Device Type</label></div>
                                    <div class="col col-sm-6"><input type="text" id="devicetype" name="devicetype" placeholder="Device Type" class="input-sm form-control-sm form-control"></div>
                            </div>
                            <div class="row form-group">
                                    <div class="col col-sm-5"><label for="input-small" class=" form-control-label">Device Code</label></div>
                                    <div class="col col-sm-6"><input type="text" id="devicecode" name="devicecode" placeholder="Device Code" class="input-sm form-control-sm form-control"></div>
                            </div>
                            <div class="row form-group">
                                    <div class="col col-sm-5"><label for="input-small" class=" form-control-label">IP Address</label></div>
                                    <div class="col col-sm-6"><input type="text" id="ipaddress" name="ipaddress" placeholder="IP Address" class="input-sm form-control-sm form-control"></div>
                            </div>
                            <div class="row form-group">
                                    <div class="col col-sm-5"><label for="input-small" class=" form-control-label">SSH Password</label></div>
                                    <div class="col col-sm-6"><input type="password" id="password" name="password" placeholder="SSH Password" class="input-sm form-control-sm form-control"></div>
                            </div>
                        </div>
                        <div class="col-lg-6">

                            <div class="row form-group">
                                <div class="col col-sm-5"><label for="input-small" class=" form-control-label">Port</label></div>
                                <div class="col col-sm-6"><input type="text" id="port" name="port" placeholder="Port" class="input-sm form-control-sm form-control"></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-sm-5"><label for="input-small" class=" form-control-label">Device MacID</label></div>
                                <div class="col col-sm-6"><input type="text" id="macid" name="macid" placeholder="Device MacID" class="input-sm form-control-sm form-control"></div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-sm-5"><label for="input-small" class=" form-control-label">Device Model</label></div>
                                <div class="col col-sm-6"><input type="text" id="model" name="model" placeholder="Device Model" class="input-sm form-control-sm form-control"></div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-sm-5"><label for="input-small" class=" form-control-label">Network ID</label></div>
                                <div class="col col-sm-6"><input type="text" id="network" name="network" placeholder="network_id" class="input-sm form-control-sm form-control"></div>
                            </div>



                            <div class="row form-group">
                                <div class="col col-sm-5"><label for="input-small" class=" form-control-label">Access Point</label></div>
                                <div class="col col-sm-6"><input type="text" id="accesspoint" name="accesspoint" placeholder="Access Point" class="input-sm form-control-sm form-control"></div>
                            </div>


                            <div class="row form-group">
                                <div class="col col-sm-5"><label for="input-small" class=" form-control-label">Status</label></div>
                                <div class="col col-sm-6">
                                    <label class="switch">
                                        <input type="checkbox" id="status" name="enabled" checked>
                                        <span class="slider round"></span>
                                    </label>

                                </div>
                            </div>



                        </div>

            <input type="submit" name="btn" class="btn btn-success btn-flat m-b-30 m-t-30" value="Add device">

                    </form>
                
                    
                </div>
			
{% endblock %}
