﻿<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NTT Project</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/static/images/favicon.ico">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cs-skin-elastic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='scss/style.css') }}">



    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<body class="bg-dark">




    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">

                    <img class="align-content" src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">

                </div>

                <div id="alert">
                </div>

                <div class="login-form">
                    <form action="/user/login" method="POST" id="login">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email " name="email" autofocus required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" name="password" required>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember Me
                            </label>
                            <label class="pull-right">
                                <a href="/reset">Forgot Password?</a>
                            </label>

                        </div>

                        <input type="submit" name="btn" class="btn btn-success btn-flat m-b-30 m-t-30" value="Sign in">

                        <div class="register-link m-t-15 text-center">
                            <p>Don't have account ? <a href="/register"> Sign Up Here</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="{{ url_for('static', filename='js/vendor/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/validation.js') }}"></script>
    <script>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            //view_alert('{{ message }}')
        {% endfor %}
        {% endif %}
        {% endwith %}
    </script>

</body>
</html>
