﻿<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NTT Project</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="shortcut icon" href="/static/images/favicon.ico">


    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/themify-icons.css">
    <link rel="stylesheet" href="../static/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="../static/scss/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

                       </head>
<body class="bg-dark">


    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <img class="align-content" src="../static/images/logo.png" alt="logo">
                </div>
                <div id="alert">
                </div>

                <div class="login-form">
                    <form action="" method="POST" id="register">
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="Email" required autofocus>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-6"><input type="text" placeholder="first name" class="form-control" name="firstName" required></div>
                            <div class="col col-md-6"><input type="text" placeholder="last name" class="form-control" name="lastName" required></div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" name="password" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Re-enter Password" name="re-password" required>
                        </div>
                        <input type="submit" name="btn" class="btn btn-primary btn-flat m-b-30 m-t-30" value="Register">

                        <div class="register-link m-t-15 text-center">
                            <p>Already have account ? <a href="/login"> Sign in</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="../static/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/main.js"></script>

    <script>

        function view_alert(msg) {

            str = '<div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">'
            str += msg
            str += '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
            str += '<span aria-hidden="true"> &times; </span>'
            str += '</button >'
            str += '</div >'

            document.getElementById('alert').innerHTML = str

        }


        (function ($) {

            $("form").submit(function (event) {

            event.preventDefault();

            URL = "/user/register"
            redir = "/login"
            err_msg = "This email already exists"

            $prev_btn = $('input[name=btn]').val()

            $('input[name=btn]').prop("value", "Please wait...");
            $('input[name=btn]').prop("disabled", "disabled");

            $.ajax({
                url: URL,
                type: "post",
                data: $('form').serialize(),
                success: function (d) {

                    if (d["status"] == 200) {
                        view_alert(d["message"]);
                        window.location = redir;
                    }
                    else {

                        $('input[name=btn]').prop("value", $prev_btn);
                        $('input[name=btn]').removeAttr("disabled");

                        view_alert(d["message"])

                    }
                }
            });

            });

        })(jQuery);

        
    </script>
    <script>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        //view_alert('{{ message }}')
        {% endfor %}
        {% endif %}
        {% endwith %}
    </script>

</body>
</html>
