{% extends "nav.html" %}
{% block body %}

<div class="content mt-3">
    <div class="animated fadeIn">


        <div class="row">

            <!-- profile pic card -->


            <div class="col-md-4 d-none">
                <div class="card" style="height:300px">
                    <div class="card-header">
                        <strong class="card-title mb-3" id="username">	{{session["data"]["username"]}}	</strong>
                    </div>
                    <div class="card-body">

                    </div>
                </div>
            </div>

            <!-- profile page entries -->

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Profile</strong>
                    </div>
                    <div class="card-body card-block" id="profile_details">

                        <div class="col-lg-4" style="max-height:250px; max-width:250px">

                            <div class="mx-auto d-block">
                                <img id="profile_pic" class="rounded-circle mx-auto my-auto d-block" src="/static/images/profile/blank.png" alt="Profile" >
                            </div>
                        </div>
                        <div class="col-lg-8 mt-3">
                            <div class="float-right" style="min-width:500px">
                                {% for field in fields %}

                                <div class="row form-group" onmouseover="viewButton(this)" onmouseout="hideButton(this)" id="{{field}}">
                                    <div class="col col-lg-3">
                                        <label class="form-control-label" style="text-transform: capitalize">{{field}}</label>
                                    </div>

                                    <div class="col col-lg-9">
                                        <div class="col-11 col-md-11">
                                            <p class="form-control-static" id="value">Loading...</p>
                                        </div>
                                        <div class="col-1 col-md-1" id='edit' style="display:none" onclick="loadForm('{{field}}')">
                                            <i class="ti-pencil-alt2"></i>
                                        </div>
                                    </div>

                                    <div style="display:none" class='col col-lg-9' id="update_form">
                                        <form id='{{field}}'>
                                            <div class='input-group'>
                                                <input type='text' id='{{field}}_form_id' name='{{field}}' class='form-control' />
                                                <div class='input-group-btn'>
                                                    <button type='submit' class='btn btn-primary'>
                                                        <i class='fa fa-check'></i>
                                                    </button>
                                                </div>
                                                                                        <!--
                                                            <div class='input-group-btn' id="close">
                                                                <button class='btn btn-danger'>
                                                                    <i class='fa fa-times'></i>
                                                                </button>
                                                            </div>
                                                                    -->
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                {% endfor %}

                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="password" class=" form-control-label">Password</label></div>
                                    <div class="col-12 col-md-9">
                                        <button type="button" class="btn btn-link"><i class="fa fa-link"></i>Change password</button>
                                    </div>
                                </div>
                            </div>
                            </div>
                    </div>

                </div>
            </div>

        </div>

        <!-- devices -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body" id="device_list">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="add-device" data-toggle="tab" href="#add" role="tab" aria-controls="add" aria-selected="false">
                                    <span class="ti-plus"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content pl-3 p-1" id="MyTabContent">
                            <div class="tab-pane fade show active " id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3>Home</h3>
                                <p>general device descriptions</p>
                            </div>

                            <div class="tab-pane fade" id="add" role="tabpanel" aria-labelledby="add-tab">
                                <p>{% include "deviceregister.html" %}</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- .animated -->
</div> <!-- .content -->
<!-- Right Panel -->
{% endblock %}
{%block incluses%}
<script src="/static/js/utils.js"></script>

<script>
    var editmode = 0;

    (function ($) { //testing js
        
		function put_details(profile_json){
			jQuery.each(profile_json, function(key, value) {
				$("#"+key+" #value").html(value)
            });

            letter = profile_json["firstName"][0].toUpperCase();
            img = "/static/images/profile/" + letter + ".png"

            $("#profile_pic").attr("src",img)



        }
        
        $("#close").click(function (event) {
            event.preventDefault();
            form = this.parentNode.parentNode.parentNode
            form.style.display = 'none'
            
    })

        function add_device_ui(device) {
                       
            tab = create_device_tab(device["device"])
            body = create_device_page(device)

            $('#device_list li:eq(0)').after(tab);
            $('#MyTabContent #home').after(body);
        }

        function load(){

            $.ajax({
                url: "/user/getprofile" ,
                type: "get",
                success: function (d) {
                    if (d["status"] == 200) {
                        put_details(d["profileData"])
                    }
                    else {
                        console.log(d["message"])
                    }
                }
            });
            
            $.ajax({
                url: "/device/list",
                type: "get",
                success: function (d) {

                    if (d["status"] == 200) {
                        var devices = d["devices"]
                        devices.forEach(function (item) {
                            add_device_ui(item)
                        })
                    }
                    else {
                        console.log(d["message"])
                    }
                }
            });
        }

        load()

        //update profile
        $("#updateform").submit(function (event) {

            event.preventDefault();
            $("#update_form").hide()

            formData = {}

            $('#device-add input, #device-add select').each(
                function (index) {
                    var input = $(this);
                    if (input.attr('name') && input.attr('name') != 'btn')
                        formData[input.attr('name')] = input.val();
                }
            );

            URL = "/user/update"
            redir = "/login"

            $prev_btn = $('input[name=btn]').val()

            $('input[name=btn]').prop("value", "Please wait...");
            $('input[name=btn]').prop("disabled", "disabled");

            $.ajax({
                url: URL,
                type: "get",
                data: formData,
                success: function (d) {

                    if (d["status"] == 200) {
                        view_alert(d["message"]);
                        window.location = redir;
                    }
                    else {
                        $('input[name=btn]').prop("value", $prev_btn);
                        $('input[name=btn]').removeAttr("disabled");
                        view_alert(d["message"])
                    }
                }
            });

        });
        
        //delete device
        window.delete_device = function (device_id) {
            $.ajax({
                url: "/device/delete_device/"+device_id ,
                type: "get",
                success: function (d) {
                    if (d["status"] == 200) {
                        alert(message)
                    }
                    else {
                        console.log(d["message"])
                    }
                }
            });
            
        }
        //add device
        $("#device-add").submit(function (event) {

            event.preventDefault();

            var formData = {}

            $('#device-add input, #device-add select').each(
                function(index){
                    var input = $(this);
                    if(input.attr('name') && input.attr('name') != 'btn' && input.attr('type') != 'checkbox')
                        formData[input.attr('name')] = input.val();
                }
            );

            if($('#device-add :checkbox').is(':checked')) {
                formData["enabled"] = true;
            } else {
                formData["enabled"] = false;
            }

            URL = "/device/register"
            redir = "/profile"
            //err_msg = "This email already exists"

            $('input[name=btn]').prop("disabled", "disabled");

            $.ajax({
                url: URL,
                type: "get",
                data: formData,
                success: function (d) {
                    if (d["status"] == 200) {
                        //add_device_ui(formData)
                        window.location = "/profile";
                        $('input[name=btn]').removeAttr("disabled");
                    }
                    else {
                        //$('input[name=btn]').prop("value", $prev_btn);
                        $('input[name=btn]').removeAttr("disabled");
                        alert(d["message"])
                    }
                }
            });

        });

    })(jQuery);

</script>


{%endblock%}
