{% extends "nav.html" %}
{% block body %}

<div class="content mt-3">
    <div class="animated fadeIn">
        
        <div class="row form-group" id="devices">
            <div class="col col-md-3"><label for="select_d" class=" form-control-label">Please select a device</label></div>
            <div class="col-12 col-md-9">
                <select name="select" id="select_d" class="form-control" onchange="sensor_list(this)">
                    <option> --select-- </option>
                </select>
            </div>
        </div>

        <div class="row form-group" id="sensors">
            <div class="col col-md-3"><label for="select_s" class=" form-control-label">Please select a sensor</label></div>
            <div class="col-12 col-md-9">
                <select name="select" id="select_s" class="form-control" onchange="to_dash(this)">
                    <option> --select-- </option>
                </select>
            </div>
        </div>

    </div> <!-- .animated -->
</div> <!-- .content -->
<!-- Right Panel -->
{% endblock %}
{%block incluses%}

<script>

    var devices
    var device_id
    urlAux = window.location.href.split('/');
    len = urlAux.length
    window.targetLoc = urlAux[len - 3]

    function to_dash(dropdown){
        
        var e = dropdown;
        if (e.selectedIndex > 0) {
            sensor_id = e.options[e.selectedIndex].value
            window.location = "/"+window.targetLoc+"/" + window.device_id +"/"+sensor_id
        }
    }

    function sensor_list(dropdown) {
        var e = dropdown;
        if (e.selectedIndex > 0) {
            device_number = e.options[e.selectedIndex].value
            window.device_id = window.devices[device_number]["_id"]
            selected_device = window.devices[device_number]
            sensors = selected_device["sensors"]
            document.getElementById("select_s").innerHtml = ''
            sensors.forEach(function (item, index) {
                add_option(item["name"], item["id"], "select_s")
            })
        }
    }


    (function ($) { 

        window.add_option = function(name,id,dropdownId){

            str = `<option value="` +id+ `">` +name+ `</option>`

            $("#" + dropdownId).append(str)

        }

        $.ajax({
            url: "/device/list",
            type: "get",
            success: function (d) {

                if (d["status"] == 200) {

                    window.devices = d["devices"]
                    window.devices.forEach(function (item, index) {
                        add_option(item["device"],index,"select_d")
                    })
                }
                else {
                    console.log(d["message"])
                }
            }
        });

    })(jQuery);
</script>

{%endblock%}

