{% extends "nav.html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css" />
<style>
    table.dataTable thead th {
        vertical-align: top;
    }
    div.dataTables_wrapper {
        width: 70vw ;
    }
    table.dataTable tbody td.dataTables_empty {
        text-align: left;
    }
    
</style>
<div class="content mt-3">
    <div class="animated fadeIn">

    <div id="alert">
        
    </div>

    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-upload-tab" data-toggle="pill" href="#upload_data" role="tab" aria-controls="upload_data" aria-selected="true">Upload Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-config-tab" data-toggle="pill" href="#config" role="tab" aria-controls="config" aria-selected="false">Configure</a>
                        </li>
                    </ul>

                    <div class="tab-content pl-3 pt-2" id="nav-tabContent">

                        <div class="tab-pane fade active show" role="tabpanel" aria-labelledby="upload_data-tab" id="upload_data">
                            <p>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-11">
                                            <div class="progress" style="height: 30px;">
                                                <div id="bar" class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" style="width: 0%">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-1" id="upload">
                                            <button type="button" class="btn btn-primary col-lg-11">
                                                <i class="fa fa-cloud-upload"></i>
                                            </button>
                                        </div>
                                        <div class="col-lg-1" id="stop" style="display:none">
                                            <button type="button" class="btn btn-danger col-lg-11">
                                                <i class="fa fa-pause"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                    <thead >
                                        <tr>
                                            {% for col in table_cols %}
                                            <th>{{ col.replace("_"," ") }}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody id="datatable"></tbody>
                                </table>
                            </p>
                        </div>
                        
                        <div id="config" class="tab-pane fade" role="tabpanel" aria-labelledby="config-tab">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="alert alert-info" role="alert">
                                        <a id="checkAll">All</a> | <a id="uncheckAll">None</a>
                                        <div style="float:right">Selected (<span id="selected">0</span>/<span id="total_cols">0</span>)</div>
                                    </div>
                                </div>
                            </div>
                            <form id="training_columns_form" method='post'>
                            <div class ="row">
                                <div class= "col-lg-8">
                                    
                                    <input type="text" name="model_name" id= "model_name" placeholder="Add model name" class = "form-control" required>
                                </div>
                                <div class="col-lg-4">
                                    <select name="n" id="n" class="form-control">
                                        <option value="0">Select number of clusters</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>
                            </div>
                        
                                
                            <div class="row">
                                <div class="col-lg-12">
                                    
                                    <p>
                                        {% include 'columns.html' %}
                                    </p>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

</div>



{%endblock%}
{%block incluses%}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script src="/static/js/utils.js"></script>

<script type="text/javascript">


    $(document).ready(function () {

        window.uploading = false
        window.recieved = true
        var length = 100
    
        urlAux = window.location.href.split('/');
        len = urlAux.length
        window.sensor_id = urlAux[len - 1]
        window.device_id = urlAux[len - 2]

        window.to_dashboard = function () {
            window.location = "/dashboard/" + window.device_id + "/" + window.sensor_id
        }

        total = $('#columns input:checkbox').length
        $("#total_cols").html(total)

        window.total_obd_data = 0

        $("#training_columns_form").submit(function(event){

            event.preventDefault();

            view_alert("Saving Clustering model on selected columns")

            var formData = {
                'sensor_id': window.sensor_id,
                'device_id': window.device_id,
                "columns[]" : [],
                "model_name": $('#model_name').val(),
                "n": $('#n').val()

            }

            $('#columns input:checkbox').each(function () {
                if (this.checked) {
                    formData["columns[]"].push($(this).val())
                }
            })
            
            $.ajax({
                url: "/ml/save_model",
                type: "post",
                data: formData,
                success: function (d) {

                    if (d["status"] == 200) {
                        view_alert("Saved Clustering model successfully")
                        window.location = "/dashboard/" + window.device_id + "/" + window.sensor_id;
                    }
                    else {
                        console.log(d)
                    }

                }

            });

        })

        $("#checkAll").click(function () {
            $('#columns input:checkbox').each(function () {
                if (!this.checked) {
                    $(this).prop('checked', true).trigger("change")
                }
            })
        });
        $("#uncheckAll").click(function () {
            $('#columns input:checkbox').each(function () {
                if (this.checked) {
                    $(this).prop('checked', false).trigger("change")
                }
            })

            
        });

        $('#columns input:checkbox').change(function () {
            if (this.checked) {
                val = parseInt($("#selected").html())
                $("#selected").html(val + 1)
            }
            else {
                val = parseInt($("#selected").html())
                $("#selected").html(val - 1)
            }
        });

       
        var formDataB = {
            'device_id': window.device_id,
            'sensor_id': window.sensor_id,
        };

        $.ajax({
            url: "/device/countcsv",
            data: formDataB,
            type: "get",
            success: function (d) {
                if (d["status"] == 200) {
                    window.total_obd_data = parseInt(d["count"])
                    progress(d['done'])
                }
                else {
                    console.log(d["message"])
                }
            }
        });

        function getData() {
            var formData = {
                'sensor_id': window.sensor_id,
                'device_id': window.device_id,
                'period': 'now',
                'length': 300
            };

            $.ajax({
                url: "/device/getdata",
                data: formData,
                type: "get",
                success: function (d) {
                    if (d["status"] == 200) {
                        
                        data = d["data_obd"]

                        for (i = 1; i < d['length']; i++) {
                            row = data[i]
                            str = `<tr>`
                            for (var col in row) {
                                if (col != 'timestamp')
                                    str += "<td>" + row[col] + "</td>"
                            }
                            str += `</tr>`

                            $('#datatable').append(str)
                        }

                    }
                    else {
                        console.log(d)
                    }

                    window.OBD_table = $('#bootstrap-data-table').DataTable({
                        scrollX: true,
                        scrollCollapse: true,
                    })

                }
            });
        }

        getData()

        function progress(done) {

            total = window.total_obd_data

            percent = (parseInt(done) / total) * 100
            percent_int = Math.floor(percent)
            bar = $("#bar")

            if (percent <= 1)
                text = ''
            else if (percent < 2)
                text = percent.toPrecision(1)
            else if (percent < 4)
                text = percent.toFixed(1)
            else
                text = percent.toFixed(1) + "%"

            bar.attr("aria-valuenow", percent_int).css('width', percent_int + '%').text(text)

            if (percent >= 100) {
                $('#stop').click()
            }
            
        }

        function putData() {
            
            if (window.uploading) {
                window.recieved = false
                var formData = {
                    'device_id': window.device_id,
                    'sensor_id': window.sensor_id,
                    'length': length
                };

                $.ajax({
                    url: "/device/putdata",
                    data: formData,
                    type: "get",
                    success: function (d) {
                        if (d["status"] == 200) {
                            console.log(d)
                            progress(d["done"])
                            window.recieved = true
                            putData()
                        }
                        else {
                            console.log(d["message"])
                            progress(d["done"])

                        }
                    }
                });
            }
            else {
                console.log("uploading off")
                return
            }
        }

        $('#stop').click(function () {
            window.uploading = false
            this.style.display = 'none';
            document.getElementById('upload').style.display = 'block';

        })

        $('#upload').click(function () {
            if (window.recieved) {
                window.uploading = true
                putData()
                this.style.display = 'none';
                document.getElementById('stop').style.display = 'block';
            }
            else {
                console.log("please wait for response")
            }
        })
    });
</script>
{%endblock%}