{% extends "nav.html" %}

{% block body %}
<style>
    #legends {
        list-style: none;
    }

        #legends li {
            margin-right: 30px;
        }

        #legends span {
            width: 25px;
            height: 17px;
            margin-right: 2px;
            margin-bottom: 0px;
        }
</style>
<div class="content mt-3">
    <div class="animated fadeIn">
        
        <div class="card">
            
            <div class="card-header" onclick="toggleCard(this)">
                <strong class="card-title mb-1" id="username"> Model name </strong> 
                <span class="ti-arrow-circle-down mt-1" style="float:right"></span>

            </div>
        
            <div class="card-body">
                <div class="col-lg-3" style="display:none;"><button type="button" class="btn btn-outline-primary">Train model</button> </div>

                <div class="col-lg-8">
                    <div id="container"></div>
                </div>
                <div class="col-lg-4">
                    <!-- <h4 class="mb-3">Doughut Chart </h4> -->
                    <!--<canvas id="doughutChart"></canvas>-->
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="doughutChart"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" style="margin-left:25%; margin-top:25%">
                            <div id="legends"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{%endblock%}
{%block incluses%}
<script src="/static/js/lib/Highcharts/code/highcharts.js"></script>
<script src="/static/js/lib/Highcharts/code/modules/boost.js"></script>


<script>
    

</script>
{%endblock%}