﻿<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NTT Project</title>
    <meta name="description" content="NTT Project">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/static/images/favicon.ico">


    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/themify-icons.css">
    <link rel="stylesheet" href="/static/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="/static/scss/style.css">
    <style>
        .highcharts-credits{
            display:none;
        }
        #alert{
            position: fixed;
            top: 5px;
            left: 50%;
            z-index: +100;

        }
        #user-dropdown {
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            border-radius: 2px;
        }
    </style>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body>

    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/profile"><img src="/static/images/logo.png" alt="Logo"></a>
                <a class="navbar-brand hidden" href="/profile"><img src="/static/images/logo2.png" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/dashboard/none/none"> <i class="menu-icon fa fa-tachometer"></i>Dashboard </a>
                    </li>
                    <li>
                        <a href="/profile"> <i class="menu-icon fa fa-user"></i>Profile </a>
                    </li>
                    <li>
                        <a href="/devicedata/none/none"> <i class="menu-icon fa fa-desktop"></i>Device Data </a>
                    </li>
                    
                </ul>
            </div><!-- /navbar-collapse -->
        </nav>
    </aside><!-- /left-panel -->
    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">


        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa-bars"></i></a>
                </div>

                <div class="col-sm-4">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="/static/images/admin.jpg" alt="User Avatar">
                        </a>

                        <div id="user-dropdown" class="user-menu dropdown-menu">
                            <a class="nav-link" href="/profile"><i class="fa fa-user mr-1"></i>My Profile</a>

                            <a class="nav-link" href="/signout"><i class="fa fa-power-off mr-1"></i>Logout</a>
                        </div>
                    </div>

                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->
        {%block body%}{% endblock %}
    </div>


    <script src="/static/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/main.js"></script>

    {%block incluses%}{%endblock%}

</body>
</html>
